# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CookieMonster.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\User\Desktop\Uni\5_WS20\Introduction to Unity\Project\CookieMonster\.idea\.idea.CookieMonster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
